@charset "UTF-8";

ul#album-fotos{  /*criando um "quadro" em volta do texto,onde ficara a imagem*/
    width: 700px;  /*altura */
    margin: 0 auto;  /* margem*/
    padding: 50px;
    overflow: hidden; /*O conteúdo é cortado e nenhuma barra de rolagem é exibida.*/
    list-style: none; /*para nao mostrar os marcadores na frente das listas*/
}
ul#album-fotos li{ /*formatação do li*/
    float: left;
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 5px solid white;
    background-color: white;
    box-shadow: 1px 1px 3px rgba(0,0,0,.4);
    -webkit-transition: all .4s ease-in; /*transição do zoom, tempo e maneira suave*/
}
ul#album-fotos li span{
    opacity: 0; /* para nao mostrar a legenda na foto*/
    color: white; /*cor da fonte */
    text-shadow: 1px 1px 1px #000000; /*sombreado na letra*/
    background-color: rgba(0,0,0,.3);
    font-size: 10pt; /*tamanho da fonte*/
    line-height: 370px; /*pra fazer a legenda ficar na parte de baixo da foto*/
    padding: 5px;
}
ul#album-fotos li:hover span{
    opacity: 1; /*pra fazer a legenda aparecer qnd o mouse passar em cima*/
}
ul#album-fotos li:hover{
    -webkit-transform: scale(1.5); /*qnd a imagem passar, aimagem ampliará pra fora do quadro*/
}
/*------------------------------------FOTO 1------------------------------------------------------------*/
ul#album-fotos li#foto01{
    background-size: 400px 400px;
    background: #ffffff url('../_imagens/galeria-01.jpg') 50% 50%;
}
ul#album-fotos li#foto01:hover{   /*pra imagem voltar a reduzir qnd o mouse passar em cima*/
    background-position: 0px 0px;
    background-size: 200px 200px;
}
/*------------------------------------FOTO 2------------------------------------------------------------*/
ul#album-fotos li#foto02{
    background: url("../_imagens/galeria-02.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px; /*esse é o tamanho original da foto*/
    background-color: white;
}
ul#album-fotos li#foto02:hover { /*pra imagem voltar a reduzir qnd o mouse passar em cima*/
    background-position: 0px 0px;
    background-size: 200px 200px;
}
/*------------------------------------FOTO 3------------------------------------------------------------*/
ul#album-fotos li#foto03 {
    background: url("../_imagens/galeria-03.jpg");
    background-position: 50% 50%;
    background-size: 400px 400px; /*esse é o tamanho original da foto*/
    background-color: white;
}
ul#album-fotos li#foto03:hover { /*pra imagem voltar a reduzir qnd o mouse passar em cima*/
    background-position: 0px 0px;
    background-size: 200px 200px;
}
/*------------------------------------FOTO 4------------------------------------------------------------*/
ul#album-fotos li#foto04{
    background: url("../_imagens/galeria-04.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px; /*esse é o tamanho original da foto*/
    background-color: white;
}
ul#album-fotos li#foto04:hover { /*pra imagem voltar a reduzir qnd o mouse passar em cima*/
    background-position: 0px 0px;
    background-size: 200px 200px;
}
/*------------------------------------FOTO 5------------------------------------------------------------*/
ul#album-fotos li#foto05{
    background: url("../_imagens/galeria-05.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px; /*esse é o tamanho original da foto*/
    background-color: white;
}
ul#album-fotos li#foto05:hover { /*pra imagem voltar a reduzir qnd o mouse passar em cima*/
    background-position: 0px 0px;
    background-size: 200px 200px;
}
/*------------------------------------FOTO 6------------------------------------------------------------*/
ul#album-fotos li#foto06{
    background: url("../_imagens/galeria-06.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px; /*esse é o tamanho original da foto*/
    background-color: white;
}
ul#album-fotos li#foto06:hover { /*pra imagem voltar a reduzir qnd o mouse passar em cima*/
    background-position: 0px 0px;
    background-size: 200px 200px;
}




