@charset "UTF-8";

div#tv-radio{
    width: 900px;
    height: 580px;
    margin: auto; /*pra ficar centralizado dentro da div*/
    background: url("../_imagens/radio-tv.png") no-repeat; /*colocando uma imagem pra ficar atras do player de audio e video*/
}
audio#musica{
    display: block; /*pro player "flutuar" */
    position: relative;
    width: 300px;
    left:575px;
    top:500px;
}
video#filme{
    display: block;
    position: relative;
    width: 440px;
    left: 90px;
    top: 85px;
}